<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.roomgenius.furniture_recommendation.mapper.AdminDashboardMapper">

    <select id="getTotalUsers" resultType="int">
        SELECT COUNT(*) FROM user
    </select>

    <select id="getTotalProducts" resultType="int">
        SELECT COUNT(*) FROM product
    </select>

    <select id="getTotalOrders" resultType="int">
        SELECT COUNT(*) FROM orders
    </select>

    <select id="getTotalRevenue" resultType="int">
        SELECT COALESCE(SUM(total_price), 0)
        FROM orders
    </select>

    <select id="getTodayOrders" resultType="int">
        SELECT COUNT(*)
        FROM orders
        WHERE DATE(created_date) = CURRENT_DATE
    </select>

    <select id="getTodayRevenue" resultType="int">
        SELECT COALESCE(SUM(total_price), 0)
        FROM orders
        WHERE DATE(created_date) = CURRENT_DATE
    </select>

    <select id="getPendingQna" resultType="int">
        SELECT COUNT(*)
        FROM qnaboard
        WHERE answer IS NULL
    </select>

    <select id="getLowStockProducts"
            resultType="com.roomgenius.furniture_recommendation.entity.LowStockProductVO">
        SELECT
        product_id AS productId,
        product_name AS name,
        stock
        FROM product
        WHERE stock &lt; 10
        ORDER BY stock ASC
    </select>


</mapper>
